In [1]:
import pandas as pd
import numpy as np
from query_utils import SnowflakeEngine
from better_profanity import profanity

In [93]:
engine = SnowflakeEngine()
engine.connect()

query = """
select
    user_id,
    created_at,
    coalesce(first_name, 'none') as first_name,
    coalesce(display_name, 'none') as display_name
from app__profile.prod__publish.user
where created_at >= '2022-01-01'
"""
df = engine.run_query(query)

In [94]:
df.head()

,user_id,created_at,first_name,display_name
0,UAE1kKiBdao,2022-01-16 00:14:17,Jhonatan,Jhonatan Henrique
1,UAE1kJQSLpM,2022-01-16 00:14:17,Juan francisco,Juan francisco Castro patiño
2,UAE1kJ4fSvg,2022-01-16 00:14:17,none,u-6086939
3,UAE1kN2Ukds,2022-01-16 00:14:18,Oscar,Oscar Peña
4,UAE1kOOcHts,2022-01-16 00:14:18,Elianai,Elianai Maria

In [4]:
profanity.load_censor_words_from_file('/Users/matthewcastino/repos/adhoc-analysis/profanity_filter/profanity_list.txt')

In [95]:
def profanity_check(text_string):
    return profanity.contains_profanity(text_string)

In [114]:
print(profanity_check('Regina'))

True

In [104]:
df_test = df.head(10000)
df_test['profanity_first_name'] = df_test['first_name'].apply(profanity_check)

/Users/matthewcastino/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [111]:
test = df_test[df_test['profanity_first_name'] == True]

In [113]:
test.head(10000)

,user_id,created_at,first_name,display_name,profanity_first_name
733,UAE1kFyydd4,2022-01-16 00:17:14,mostafa_elmehy@Yahoo.con,mostafa_elmehy@Yahoo.con tota166472!,True
2009,UAE1kLe5oWk,2022-01-16 00:22:01,Mona,Mona Hussein,True
2040,UAE1kJIfhoQ,2022-01-16 00:22:06,Maria Regina,Maria Regina Soares Caires,True
2160,UAE1kOVvd-U,2022-01-16 00:22:35,Regina,Regina Lúcia,True
249,UAE1kGzkt7A,2022-01-16 00:24:57,Lolita,Lolita Skin Repair,True
728,UAE1kMo4Hg4,2022-01-16 00:26:50,Anita,Anita,True
1718,UAE1kEvH82w,2022-01-16 00:30:51,Fan 1,Fan 1 De Marcoff_12,True
415,UAE1kExsYAQ,2022-01-16 00:35:48,mona,mona dolati,True
440,UAE1kF3zj6Q,2022-01-16 00:35:54,Sánchez Amador,Sánchez Amador Jessica,True
686,UAE1kBOWpQY,2022-01-16 00:36:48,Subba Reddy,Subba Reddy Bolla,True
880,UAE1kCK5AmY,2022-01-16 00:37:28,Am,Am Goose,True
1485,UAE1kPzidgk,2022-01-16 00:39:55,I'm the bitch,I'm the bitch,True
1804,UAE1kNgaq_g,2022-01-16 00:41:08,Randi,Randi Fraguglia,True
2422,UAE1kGmG0zI,2022-01-16 00:43:34,Vittu,Vittu Oliveira,True
4597,UAE1kGP37uU,2022-01-16 00:52:00,Regina,Regina Rodriguez,True
4935,UAE1kHRJmWg,2022-01-16 00:53:13,Suka,Suka Gabrielly,True